@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F8F8F8;  
}

.primary-color-text{
    color: #00BCBC;
}


a{
    text-decoration: none;
}